apiVersion: apps/v1.1 
kind: Deployment
metadata:
  name: kubernetes-demo-netflix
  labels: 
     app: netflix

spec:
  replicas: 1 
  selector:
    matchLabels:
      app: netflix

  template:
    metadata:
      labels:
        app: netflix
    spec:
      containers:
      - name: netflix
        image: DOCKER_IMAGE
        imagePullPolicy: Always
        ports:
        - containerPort: 80
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
